.git
.gitignore
node_modules
vendor
.nuxt
.output
.nitro
.cache
storage-laravel
backend/node_modules
backend/vendor
backend/storage
frontend-cms/node_modules
frontend-cms/.nuxt
frontend-cms/.output
frontend-public/node_modules
frontend-public/.nuxt
frontend-public/.output
README.md
AGENTS.md
*.md
