# Backend
/backend/node_modules
/backend/dist
/backend/.env

# Nuxt
/frontend-cms/.nuxt
/frontend-cms/.output
/frontend-cms/node_modules
/frontend-cms/dist
/frontend-public/.nuxt
/frontend-public/.output
/frontend-public/node_modules
/frontend-public/dist

# Docker
/storage-laravel

# OS
.DS_Store
*.log

# IDE
.fleet
.idea
.vscode

# Env
.env
.env.local
config.local.env

# Workflow reports
/reports
*.cache.track.dill
