APP_NAME=OmniSync Portfolio
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=omnisync
DB_USERNAME=omnisync
DB_PASSWORD=secret

QUEUE_CONNECTION=redis

REDIS_HOST=redis
REDIS_PORT=6379
